<div class="panel panel-primary">
    <div class="panel-heading">
        Products Page
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Enter your text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter Result:</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table>
                
            </table>
        </div>
    </div>
</div>